alias l="ls -lAF ${ls_options}"
alias lh="ls -lF ${ls_options}"
alias la="ls -laF ${ls_options}"
alias ll="ls -lAF ${ls_options}"
alias d='docker'
alias g='git'
alias vim='nvim'
alias bat='batcat'
alias cat='batcat -p'
alias dc='docker compose'
alias grep='grep --color=auto'
alias cu='eval $(ssh-agent); dc run -v $SSH_AUTH_SOCK:/ssh_agent -e SSH_AUTH_SOCK=/ssh_agent --user $(id -u):$(id -g) php-fpm sh -c "apt update; apt install -y git; bash"'
alias ca='eval $(ssh-agent); dc run -v $SSH_AUTH_SOCK:/ssh_agent -e SSH_AUTH_SOCK=/ssh_agent php-fpm sh -c "apk update; composer self-update; bash"'
alias nginx-proxy="docker network create nginx-proxy-network-127.0.0.2; docker run -d -p 80:80 --rm --network nginx-proxy-network-127.0.0.2 -v /home/tofid/.nginx_proxy.conf:/etc/nginx/conf.d/nginx_proxy.conf:ro -v /var/run/docker.sock:/tmp/docker.sock:ro jwilder/nginx-proxy"
alias c='composer'
alias cc='eval $(ssh-agent); \
  docker run --rm --interactive --tty \
  --volume $PWD:/app \
  --volume $SSH_AUTH_SOCK:/ssh-auth.sock \
  --volume /etc/passwd:/etc/passwd:ro \
  --volume /etc/group:/etc/group:ro \
  --env SSH_AUTH_SOCK=/ssh-auth.sock \
  --user $(id -u):$(id -g) \
  composer/composer'
alias ls-tmux="tmux list-panes -aF '#{session_name}:#{window_index}:#{pane_index}	#{pane_tty}	#{pane_pid}	#{pane_current_command}'"
